@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(#94bbe9, #eeaeca);
    font-family: poppins;
}

.container {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    backdrop-filter: 10px;
    border-radius: 10px;
    /* font-size: 20px; */
    width: 400px;
    /* height: 250px; */
    padding: 35px 0;

}

.input {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 10px;
}

.input-group label {
    margin-bottom: 5px;
}

input {
    outline: none;
    margin: 6px;
    padding: 6px;
}

#output{
    font-size: 20px;
    font-weight: bold;
    background-color: #94bbe9;
    width: 50%;
    margin: auto;
}

select{
    padding: 5px;
    font-weight: bold;
    outline: none;
}


button {
    width: 50%;
    margin: auto;
    margin: 10px auto;
    padding: 5px;
    font-size: 15px;
    background-image: linear-gradient(#94bbe9, #eeaeca);
    border: black solid white;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.guide {
    margin-top: 10px;
}

